.form-price{
    display: flex;
    justify-content: center;
}

.form-normal-price {
    border-bottom        : 1px solid black;
    display       : flex;
    flex-direction: column;
}
.form-holiday-price {
    border-bottom        : 1px solid black;
    border-left        : 1px solid black;
    display       : flex;
    flex-direction: column;
}

.form-price span {
    margin-left: 20px;
}

.date-picker{
    display: flex;
}